@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header {
  color: #e0c3fc;
}
nav {
  display: flex;
  justify-content: space-around;
  height: 12vh;
  align-items: center;
  background-color: rgba(5, 0, 64, 0.78);
}
a {
  /* text-decoration: none; */
  color: #e0c3fc;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 2em;
}

.left-nav {
  font-size: 1.4em;
  border-radius: 5px;
}
.left-nav:hover {
  cursor: default;
  text-shadow: 0 0 20px rgba(203, 203, 249, 0.7);
}

nav ul li a {
  text-decoration: none;
  color: #e0c3fc;
  transition: color 0.15s
}
nav ul li a:hover {
  color: rgb(221, 221, 222); /* Color when hovered */

  text-decoration: underline;
  text-underline-offset: 1em;
}

/* #section-About */
.about-text{
  font-size: 
    1.2em
 
}
span{
  font-weight: 600;
  color: #9e37ff;
}
.about-conatiner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 88vh;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #c9d7e5 0%, #e9dbf7 100%);
}
img {
  width: 30vw;
  height: auto;
}

/* #Skill-container */
.Skills-container{
  display: flex;
  justify-content: space-evenly;
  /* text-align: center; */
  align-content: center;
  height: 110vh;
  font-size: 1.6em;
  background: linear-gradient(112.1deg, rgba(0, 1, 2, 0.96) 11.4%, rgba(25, 6, 6, 0.93) 70.2%);
  color: rgb(255, 81, 0);
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
/* .skill-list{
  text-align: center;
} */
.skill-image{
  display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    transition: transform 0.1s ease;
}

.skill-image img:hover{
  transform: scale(1.2);
}

.lang{
  list-style-type: disclosure-closed;
    text-align: justify;
    color: rgba(217, 93, 15, 0.888);
}

.skill-list h2{
  margin: 10px;
}

/* #Contact me */
.form-container{
  display: flex;
  background-color: yellowgreen;
  justify-content: center;
  /* align-content: center; */
  text-align: center;
  height: 100vh;
  width: auto;
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  color: #c5b5d4;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
  /* padding: 10%; */
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 2em;
  color: beige;
}



form h2{
  margin: 4px;
  padding: 4px;
  font-size: 2em;
}
.input-name, .input-mail, .input-message{
  margin: 4px;
  padding: 4px;
  width: 100%;
}

form input{
  background-color: #a3a9ff;
  height: 50%;
  width: 80%;
  border-radius: 10px;
}

form textarea{
  background-color: #a3a9ff;
  height: 80%;
  width: 80%;
  border-radius: 10px;
}


form button{
  height: 5%;
  width: 80%;
  /* height: 5%; */
  border-radius: 10px;
  margin: 5px;
  background-color: #c5b5d4;
  
}
form label{
  font-size: 1.5em;
}

form button:hover{
  background-color: #363a74;
  cursor: grab;
  color: beige;
  /* padding: 10%; */
}